.movie-detail {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 247, 247);
  padding: 0 100px;
}

.image-container {
  width: 50%;
}

.details {
  width: 50%;
}

.image-container img {
  width: 100%;
}

@media only screen and (max-width: 530px) {
  .movie-detail {
    flex-direction: column;
    justify-content: space-between;

    padding: 30px;
  }
  .details {
    width: 100%;
    margin-top: 0.8em;
    margin-bottom: 1em;
  }
}

.voting{
  margin-top: 15px;
  font-size: 16px;
}

.goback-btn{
  background-color: rgb(3, 65, 3);
  padding: 9px;
  color: #fff;
  text-decoration: none;
  
  
}
.goback-btn:hover{
  color: rgb(224, 224, 224);
  background-color: rgba(0, 128, 0, 0.842);
}

