ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  margin: 1em 3em;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 30px;

  transition: all 0.2s ease-in;
}
li {
  box-shadow: 0px 2px 2px 2px #28df99;
  transition: all 0.2s ease-in;
  border: 2px solid #28df99;
  border-radius: 30px;
}

.jumbotron {
  /* border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px; */
  border-radius: 20px;
  background-color: #28df99;
  color: white;
}

@media only screen and (max-width: 550px) {
  .jumbotron {
    display: none;
  }
}

.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}
.load-more button {
  border: none;
  outline: none;
  padding: 0.8em 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #28df99;
  border-radius: 2em;
}
