input {
  width: 100%;
  /* background-color: #83f3c8; */
  border: 2px solid #83f3c8;
  border-radius: 30px;
  outline: none;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  box-shadow: 0px 2px 2px rgba(0, 0, 0/0.18);
}

input::placeholder {
  color: rgb(56, 54, 54);
  font-size: 1.2em;
}
